{% extends "model-page.html" %}

{% block content %}
<h1 class="text-center">Detalhes do pet em contrução!</h1>
<!-- Ini Modal -->
<div id="modal_confirm" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Deseja realmente excluir este registro?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-right">
            <a href="/pet/delete/{{ pet.id }}/">
                <button type="button" class="btn-danger">
                    EXCLUIR
                </button>
            </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    CANCELAR
                </button>

        </div>
    </div>
  </div>
</div>


<div class="container mp-4 mb-4">
    <div class="row">
        <div class="col-sm-4">
            <div style="border-color: black; border-style: solid; width: 307px; height: 304px">
                <img src="{{ pet.photo.url }}" width="300" height="270" style="margin-top: 16px">
            </div>
    </div>
        <div class="col-sm-8">
            <p>{{pet.description}}</p>
            <h4>Contato</h4>
            <p><b>Tel.:</b>{{pet.phone}}</p>
            <p><b>E-mail:  </b>{{ pet.email }}</p>
            {% if request.user == pet.user %}
                <a href="/pet/register/?id={{ pet.id }}">
                    <botton type="button" class="btn btn-primary">Alterar</botton>
                </a>

                <botton type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#modal_confirm">Excluir</botton>

            {% endif %}
        </div>

</div>
</div>

{% endblock %}